@import "tailwindcss";

@theme {
  --breakpoint-ab: 375px;
  --breakpoint-ef: 460px;
  --breakpoint-cd: 550px;
  --breakpoint-sm: 640px;
  --breakpoint-gh: 710px;
  --breakpoint-md: 768px;
  --breakpoint-6xl: 850px;
  --breakpoint-7xl: 920px;
  --breakpoint-8xl: 980px;
  --breakpoint-lg: 1024px;
  --breakpoint-10xl: 1100px;
  --breakpoint-xl: 1280px;
  --breakpoint-xz: 1700px;
}


@layer components{

    .hover-border{
        @apply border border-transparent hover:border-amber-100;
    }
}
